/*--------head------------*/
.head {
  padding: 5px 0;
}
.logo {
  margin-left: 90px;
}
.logo h1 {
  font-size: 35px;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
.navs {
  margin-left: 45px;
}
.navbarNavs {
  margin-left: 55px;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.2);
}
/*--------head------------*/
/*--------header------------*/
.navHeader {
  display: flex;
  justify-content: end;
}
.header {
  /* background-color: rgba(255, 255, 255, 0.2); */
  position: absolute;
  margin: 0 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-item a {
  color: black;
  font-weight: 600;
}
header li {
  margin-right: 40px;
}
.hire {
  background-color: #1eb2a6;
  color: white!important;
  border-radius: 10px;
}
/* .navbar-toggler-icon{
  display:none;
} */
/*--------header------------*/
@media only screen and (max-width: 960px) {
  .head {
    display: none;
  }
  .navbar {
    background-color: #1eb2a6;
  }
  .logo {
    margin: 20px;
  }
  .logo span {
    color: #ffff;
    font-size: 15px;
  }
  .logo h1 {
    font-size: 30px;
    font-weight: 900;
    color: #ffff;
  }
  .logo {
    margin: 10px 20px;
  }
  .navbar {
    padding: 0px;
  }
  .navbar-toggler {
    margin: 10px;
    border: 0;
    box-shadow: none !important;
  }
  .navbar-toggler .fa {
    margin: 0px;
    transition: 0.2s;
  }
  .header{
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  /* .navbar-toggler-icon{
    display:block;
  } */
  /* header{
    display:flex;
  } */
  /* .navbar{
    display:none;
  } */

}
@media only screen and (max-width: 1024px) {
  /* .logo {
    margin-left: 0px;
  } */
  /* .social{
    display:none;
  } */
}
