.aboutHome {
  padding:90px 0;
}
.right #heading {
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
}
.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 25px 0;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.aboutHome .item p {
  color: #999999;
}
.aboutHome .item:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.aboutHome .item:hover p {
  color: #fff;
}
/*----------awrapper------------*/
.awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.awrapper .box {
  display:flex;
  flex-direction: row;
  margin:40px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 40px;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}
/*----------awrapper------------*/
@media only screen and (max-width: 768px) {
  .awrapper {
    height:20vh;
  }
  .awrapper img, .img{
    width: 20px!important;
    height: 20px!important;
  }
  .awrapper h1{
    font-size:16px!important;
  }
  .awrapper h3{
    font-size:12px!important;
  }
}
@media only screen and (max-width: 960px) {
  .awrapper img,.img{
    width:40px;
    height:40px;
  }
  .awrapper h1{
    font-size: 25px;
  }
  .awrapper h3{
    font-size:15px;
  }
  .awrapper .box {
    margin:20px 0;
  }
}
