footer{
  position:relative;
  top:0;
  left:0;
}
.footer{
  padding:40px 0;
}
.footer-lists li {
  line-height: 30px;
  list-style: none;
}
.footer-lists li a {
  text-decoration: none;
  color: var(--gfg-footer-text-color);
  display: inline-block;
  text-align: initial;
}
.logoText {
  font-size: 30px;
}
.footerHeadings{
  font-size: 16px;
  padding: 0 0 0 32px;
  margin:24px 0;
}
.footer-icons{
  display:flex;
}
.footer-icons li{
  margin: 10px;
}
.footer-icons li a{
  font-size:28px;
}
@media only screen and (max-width: 540px){
  .logoText{
    font-size: 20px;
  }
  .footer-lists li{
    font-size:15px;
  }
  .footer-lists{
    padding:0px;
  }
  .footer-lists li a{
    font-size:12px;
  }
  .footerHeadings{
    font-size:14px;
    margin:10px 0px;
    padding:0px;
  }
}

