footer {
  margin-bottom: -11px;
}
.gfg-footer .footer-wrapper {
  flex-direction: column;
}
.gfg-footer .footer-wrapper_branding {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.gfg-footer .footer-wrapper_branding {
  display: flex;
  flex-direction: column;
}
.footer-wrapper_branding-anchor {
  display: flex;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
.footer-wrapper_branding-anchor .footer-wrapper_branding-nlogo {
  margin: auto;
}
.footer-wrapper_branding-nlogo {
  max-width: 230px;
  margin-bottom: 10px;
}
g[Attributes Style] {
  transform: translate(-3608, -227);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
g[Attributes Style] {
  transform: translate(3608, 227);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
path[Attributes Style] {
  d: path("M 988.871 586.642 h -32.7 a 13.06 13.06 0 0 1 22.949 -6.9 l 4.757 -4.783 a 19.789 19.789 0 0 0 -34.466 11.678 H 949.3 a 19.789 19.789 0 0 0 -34.466 -11.678 l 4.757 4.783 a 13.06 13.06 0 0 1 22.949 6.9 h -32.7 q -0.057 0.757 -0.058 1.529 a 19.791 19.791 0 0 0 39.055 4.533 h 1.042 a 19.789 19.789 0 0 0 39.055 -4.533 Q 988.929 587.4 988.871 586.642 Z m -59.305 14.589 a 13.063 13.063 0 0 1 -12.261 -8.555 h 24.522 A 13.064 13.064 0 0 1 929.565 601.231 Z m 39.576 0 a 13.064 13.064 0 0 1 -12.262 -8.555 H 981.4 A 13.063 13.063 0 0 1 969.141 601.231 Z");
  transform: translate(-909.777, -568.383);
  fill: rgb(47, 141, 70);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
g[Attributes Style] {
  transform: translate(3703.02, 236.148);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
g[Attributes Style] {
  transform: translate(26.144, 4.527);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
g[Attributes Style] {
  transform: translate(56.695, 0.004);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
path[Attributes Style] {
  d: path("M 1352.9 615.759 l -6.714 -6.771 v 6.771 h -3.09 V 594.521 h 3.09 v 12.53 l 6.084 -6.056 h 3.909 l -6.988 6.988 l 7.67 7.782 Z");
  transform: translate(-1343.09, -594.521);
  fill: rgb(15, 43, 60);
}
user agent stylesheet
:not(svg) {
  transform-origin: 0px 0px;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
.gfg-footer .footer-wrapper_branding-address, .gfg-footer .footer-wrapper_branding-email {
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.gfg-footer .footer-wrapper_branding-address, .gfg-footer .footer-wrapper_branding-email {
  color: #696969;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: start;
  font-size: 11pt !important;
  margin-bottom: 10px;
}
@media only screen and (max-width: 980px)
.footer-wrapper_branding-address {
  padding-top: 10px;
}
@media (max-width: 991px)
.gfg-footer .footer-wrapper_branding-address span, .gfg-footer .footer-wrapper_branding-address a, .gfg-footer .footer-wrapper_branding-address i, .gfg-footer .footer-wrapper_branding-email span, .gfg-footer .footer-wrapper_branding-email a, .gfg-footer .footer-wrapper_branding-email i {
    padding-bottom: 8px;
}
.gfg-footer .footer-wrapper_branding-address span, .gfg-footer .footer-wrapper_branding-address a, .gfg-footer .footer-wrapper_branding-address i, .gfg-footer .footer-wrapper_branding-email span, .gfg-footer .footer-wrapper_branding-email a, .gfg-footer .footer-wrapper_branding-email i {
  padding-bottom: 8px;
}
.gfg-footer .footer-wrapper_branding-address span, .gfg-footer .footer-wrapper_branding-address a, .gfg-footer .footer-wrapper_branding-email span, .gfg-footer .footer-wrapper_branding-email a {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: var(--gfg-footer-text-color);
}
.gfg-footer .footer-wrapper_branding-email {
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.gfg-footer .footer-wrapper_branding-address, .gfg-footer .footer-wrapper_branding-email {
  color: #696969;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: start;
  font-size: 11pt !important;
  margin-bottom: 10px;
}
.gfg-footer .footer-wrapper_branding-social {
  justify-content: center;
  align-content: center;
}
.gfg-footer .footer-wrapper_branding-social {
  display: flex;
  margin-top: 16px;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.all-footer-information {
  width: 100%!important;
}
element.style {
  justify-content: space-between;
  text-align: -webkit-left;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links {
  flex-wrap: wrap;
}
.gfg-footer .footer-wrapper_links {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links-list {
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
    overflow-wrap: break-word;
}
.footer-wrapper_links-list {
    margin-block-start: 0!important;
    width: 16%!important;
    padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li a {
  font-size: 11pt;
  text-decoration: none;
  color: var(--gfg-footer-text-color);
  display: inline-block;
  text-align: initial;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links {
    flex-wrap: wrap;
}
.gfg-footer .footer-wrapper_links {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
}
.gfg-footer .footer-wrapper_links-list {
  padding: 0;
  flex-basis: 50%;
  align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
  overflow-wrap: break-word;
}
.footer-wrapper_links-list {
  margin-block-start: 0!important;
  width: 16%!important;
  padding-inline-start: 18px!important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  /* -webkit-box-sizing: border-box; */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.gfg-footer .footer-wrapper_links-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
  overflow-wrap: break-word;
}
ol, ul {
  list-style: none;
}
user agent stylesheet
ul {
  list-style-type: disc;
}
style attribute {
  justify-content: space-between;
  text-align: -webkit-left;
}
.gfg-footer .footer-wrapper {
  border-top: 1px solid var(--gfg-footer-border);
  font-family: var(--font-sofia);
  display: flex;
  flex-direction: row;
  padding: 40px 40px 20px 40px;
  background-color: var(--gfg-footer-background);
}
footer {
  font-family: 'Roboto',sans-serif;
  line-height: 1;
  margin-bottom: -11px;
}
article, aside, details, figcaption, figure, footer, header, nav, section {
  display: block;
  text-align: justify;
}
body {
  font-family: 'Roboto',sans-serif;
  text-rendering: optimizeLegibility;
  color: rgba(0,0,0,.84);
}
body {
  line-height: 1;
}
.gfg-footer .footer-wrapper_links-list {
  padding: 0;
  flex-basis: 50%;
  align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
  overflow-wrap: break-word;
}
.footer-wrapper_links-list {
  margin-block-start: 0!important;
  width: 16%!important;
  padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li a {
  font-size: 11pt;
  text-decoration: none;
  color: var(--gfg-footer-text-color);
  display: inline-block;
  text-align: initial;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links-list {
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
    overflow-wrap: break-word;
}
.footer-wrapper_links-list {
    margin-block-start: 0!important;
    width: 16%!important;
    padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li {
  padding-bottom: 6px;
  line-height: 1.67;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links-list {
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
    overflow-wrap: break-word;
}
.footer-wrapper_links-list {
    margin-block-start: 0!important;
    width: 16%!important;
    padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li:first-child, .gfg-footer .footer-wrapper_links-list li:first-child a {
  color: var(--color-gfg);
  font-size: 13.5pt;
  font-weight: 600;
  padding-bottom: 10px;
}
.gfg-footer .footer-wrapper_links-list li {
  padding-bottom: 6px;
  line-height: 1.67;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links-list {
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
    overflow-wrap: break-word;
}
.footer-wrapper_links-list {
    margin-block-start: 0!important;
    width: 16%!important;
    padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li:first-child, .gfg-footer .footer-wrapper_links-list li:first-child a {
  color: var(--color-gfg);
  font-size: 13.5pt;
  font-weight: 600;
  padding-bottom: 10px;
}
.gfg-footer .footer-wrapper_links-list li {
  padding-bottom: 6px;
  line-height: 1.67;
}
@media (max-width: 768px)
.gfg-footer .footer-wrapper_links-list {
    padding: 0;
    flex-basis: 50%;
    align-items: center;
}
.gfg-footer .footer-wrapper_links-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
}
@media only screen and (max-width: 1340px)
.footer-wrapper_links-list {
    overflow-wrap: break-word;
}
.footer-wrapper_links-list {
    margin-block-start: 0!important;
    width: 16%!important;
    padding-inline-start: 18px!important;
}
.gfg-footer .footer-wrapper_links-list li:first-child, .gfg-footer .footer-wrapper_links-list li:first-child a {
  color: var(--color-gfg);
  font-size: 13.5pt;
  font-weight: 600;
  padding-bottom: 10px;
}
.gfg-footer .footer-wrapper_links-list li {
  padding-bottom: 6px;
  line-height: 1.67;
  @media (max-width: 991px)
.gfg-footer .footer-strip {
    padding-left: 0 !important;
}
.gfg-footer .footer-strip {
    background-color: var(--color-gfg-alternate);
    font-family: var(--font-sofia);
    height: 40px;
    display: flex;
    padding-left: 40px;
    color: white;
}
}
@media (max-width: 991px)
.gfg-footer .footer-strip .copyright {
    margin-left: auto;
    margin-right: auto;
}
.gfg-footer .footer-strip .copyright {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
.gfg-footer .footer-strip .copyright a, .gfg-footer .footer-strip .copyright span {
  font-size: 11pt;
  text-decoration: none;
  color: white !important;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}
.gfg-footer .footer-strip .copyright a, .gfg-footer .footer-strip .copyright span {
  font-size: 11pt;
  text-decoration: none;
  color: white !important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.gfg-footer .footer-strip .copyright a, .gfg-footer .footer-strip .copyright span {
  font-size: 11pt;
  text-decoration: none;
  color: white !important;
}
a {
  outline: none;
  color: var(--color-gfg);
  text-decoration: none;
}